<h3>List of all Adventures:</h3>
<ul>
<% @adventures.each do |adventure| %>
    <li>Location: <%= link_to adventure.location, adventure %> </li>
    <li>Description: <%= adventure.description %> </li>
<% end %>
</ul>