<h3 style="color:white;">List of all Adventures:</h3>
<br>
<ul>
<% @adventures.each do |adventure| %>
    <li><strong>Name:</strong> <%= link_to adventure.name, adventure%></li>
    <li><strong>Location:</strong> <%= adventure.location%> </li>
    <li><strong>Description:</strong> <%= adventure.description %> </li><br>
<% end %>
</ul>