<div class="card" style="background:transparent;">
    <img class="card-img-top" src="<%= @item.img %>">
    <div class="card-body">
        <h1 class="card-title" style="color:white;"> <%= @item.name %> </h1>
    </div>
</div>
<%= link_to "Back", items_path %>
