<h1 style="color:white;"> Welcome to Rick and Morty Quests!</h1>
<br>
<h3>The best place for seeking Rick and Morty Adventures</h3>
<br>
<h4 style="color:white;">Features:</h4>
<ul>
<li>Create an account</li>
<li>Go on a quest</li>
<li>Check your quest analytics</li>
<li>Check all quest analytics</li>
<li>Create a Rick</li>
<li>Create a Morty</li>
<li>Create an adventure</li>
<li>Create an item</li>
</ul>
<br>
<h3> Have fun and don't forget to survive, broh!</h3>
