<% if session[:user_id] == nil %>
<h3> Login or Create New User </h3>

<%= link_to "login", new_login_path %>
  
<br>
<%= link_to "Create New User", new_user_path%>
  

<% else %>

<h3> [insert all user options] </h3>

<br>
<%=link_to "Create a new Rick", new_rick_path %>
<br>
<%=link_to "Create a new Morty", new_morty_path %>



<% end %>

